## Python Basics

In [1]:
4/2

2.0

In [3]:
4%2

0

In [4]:
5//2

2

In [5]:
5/2

2.5

In [6]:
# BOMDAS - Bracket, off, Division, Multiplication, Subraction
5+3*2

11

In [7]:
(5*3)+2

17

In [8]:
type(4/2)

float

In [9]:
type(5)

int

In [10]:
type('Swapna')

str

In [1]:
a = 10
b = 20
a+b

30

In [2]:
a = 10
b = 20
c = a+b

In [4]:
type(c)

int

In [5]:
## Boolean Operation
True or False

True

In [7]:
type(True)

bool

In [8]:
True | False

True

In [9]:
a=10
b=20
a+b>30

False

In [10]:
a=10
b=20
a+b>30 or a-b <10

True

In [11]:
a=10
b=20
a+b>30 | a-b <10

True

In [12]:
## Strings
## Never use revsered strings otherwise you will get error

In [14]:
str1 = "A good boy"
str2 = "A bad boy"

In [15]:
str1+" "+str2

'A good boy A bad boy'

In [16]:
print(str1+" "+str2)

A good boy A bad boy

In [20]:
name  = input("Enter your name? ")
print(name)

Enter your name? Swapna
Swapna

In [22]:
## add two number
a = float(input("Enter number 1?"))
b = float(input("Enter number 2?"))
c = a+b
print("The output is" ,c)

Enter number 1?21.5
Enter number 2?22.4
The output is 43.9

In [24]:
## String formatting
frist_name = input("Enter your First name?")
last_name = input("Enter your last name?")
print("My First name is {} and last name is {}".format(frist_name,last_name))

Enter your First name?Swapna
Enter your last name?Nalla
My First name is Swapna and last name is Nalla

In [25]:
## String formatting
frist_name = input("Enter your First name?")
last_name = input("Enter your last name?")
print("My First name is {frist} and last name is {last}".format(last=last_name,frist=frist_name))

Enter your First name?Swapna
Enter your last name?Nalla
My First name is Swapna and last name is Nalla


# Variable Dynamic Typing

In [26]:
a = 2
a

2

In [27]:
type(a)

int

In [28]:
a = "Swapna"
type(a)

str

In [29]:
### Strong Typying - means anything concatenating must have same type like int + int or str + str etc

1 + int("2")

3

In [30]:
"swapna" + "1" ### Here LHS and RHS are same str + str

'swapna1'

In [38]:
### Conditional Statements
## if and elif

a = int(input("Enter number1?"))
b = int(input("Enter number2?"))

c = a-b

print("The output is",c)
if c<0:
    print("The number is negative")
elif c>40:
    print("The difference is huge")
else:
    print("The number is positive")

Enter number1?10
Enter number2?20
The output is -10
The number is negative

### Data Structures
1. list
2. tuple
3. string
4. Dictionary
5. Sets

In [39]:
lst =[1,2,3,"Swapna", "Nalla"]

In [41]:
type(lst[3])

str

In [42]:
type(lst)

list

In [43]:
list([1,2,3,"Swapna", "Nalla"])

[1, 2, 3, 'Swapna', 'Nalla']

In [45]:
list((1,2,3,"Swapna", "Nalla"))

[1, 2, 3, 'Swapna', 'Nalla']

In [46]:
lst.append("Ineuron")

In [47]:
lst

[1, 2, 3, 'Swapna', 'Nalla', 'Ineuron']

In [48]:
lst[2]="Data Science"

In [49]:
lst

[1, 2, 'Data Science', 'Swapna', 'Nalla', 'Ineuron']

In [50]:
lst.append("Swapna")
lst.append("Swapna")
lst

[1, 2, 'Data Science', 'Swapna', 'Nalla', 'Ineuron', 'Swapna', 'Swapna']

In [51]:
lst.count("Swapna")

3

In [54]:
# Indexing
# String is immutable where as list is mutable
# in string element is immutable but you can mutable complte string like below example
str1 = "Swapna"
str1 = "Nalla"
str1

'Nalla'